<h1>Input your favorite number and we will ping it, pong it, and even pin-pong it for you.</h1>

<form action="/print-pong" method="get">

  <label for="your-number">input your number here</label>
  <input id="your-number" name="your-number" type="number">

  <button type="submit">Submit</button>
  
</form>
